extends layout
block content
  form(method="post" action="/signup")
    h2 Welcome, You have to signup to use our service
    br
    div 
      label ID :
      input(type="text" name="userId")
    div
      label Password :
      input(type="password" name="userPassword")
    div
      label Email :
      input(type="email" name="userEmail")
    div
      label Name :
      input(type="text" name="userName")
    div
      label Age :
      input(type="text" name="userAge")
    div
      button(type="submit") Signup




    
